.content-main {
    .account--welcome {
        .unitize-padding(0, 20, 10, 20);
    }
    .account--welcome,
    .account--box {
        background: #fff;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    }
}

.panel.has--border {
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}

.account--content {
    .note--item {
        background: #fff;
        .unitize(margin-bottom, 20);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
        .unitize-padding(10);
    }

    .note--delete {
        .unitize(margin-right, 10);
    }
}

.account--menu {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}

.note--overview {
    .note--item {
        background: #fff;
        .unitize(margin-bottom, 20);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
        .unitize-padding(10);
    }
    .note--delete {
        .unitize(margin-right, 10);
    }
}