
.blog--listing {
    .panel--title {
        .unitize-padding(15);
        margin: 0;
    }
    .panel--body.is--wide {
        padding-top: 0;
    }
}

.blog--box {
    .unitize(padding, 20);
    .blog--box-metadata {
        border-bottom: 0;
        padding-top: 0;
    }

}

.blog--detail {
    .blog--comments-wrapper {
        .panel.has--border {
            background: none;
            border: none;
            box-shadow: none;
        }
    }
}