.is--ctl-checkout.is--minimal-header .header-main,
.is--ctl-register.is--minimal-header.is--target-checkout .header-main {
    border: none;
}

.steps--container {
    background: #fff;
}

.container--ajax-cart.off-canvas {
    z-index: 200000;
}

.finish--teaser {
    .unitize(padding-top, 20);
}

.is--act-finish {
    .content-main {
        margin: 0;
    }
}

.product--table {
    .table--footer {
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
        .unitize(padding, 20);
    }
}

.steps--content {
    border: none;
}

.benefit--headline {
    margin-top: 0;

}

.product--table {
    .table--footer {
        display: none;
    }
    .panel.has--border {
        background: none;
        box-shadow: none;
    }
    .panel--body {
        padding: 0;
    }

    .column--actions-link {
        .unitize(margin-right, 10);
    }
    .table--tr {
        .unitize-padding(10);
        background: #fff;
        .unitize(margin-bottom, 20);
    }
    .main--actions {
        .unitize(margin-bottom, 10);
    }

}

.basket--footer {
    .unitize-margin(0, 10, 0, 10);
}