
.emotion--container {
    background: none !important;
    .emotion--row {
        .coe--emotion-form,
        .coe--emotion-slider,
        .textboxEmotion{
            .unitize(margin-top,20)
        }

        .landingpageLastElement {
            .unitize(padding-bottom, 90) !important;
        }
        .contactFormEmotion {
            background-image: url("../../img/woodTexture11.jpg");
            .unitize-padding(20);
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
        }
        #kontaktformular {
            background: #fff;
            .unitize-padding(15);
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
        }
        .contactField {
            .unitize(margin-bottom, 10);
        }
        label {
            vertical-align: top;
        }
        .inputClass {
            display: block;
            width: 100%;
        }
        .bannerSlider {
            .unitize(padding-top, 55);
        }
        .textContactForm {
            display: inline-block;
            .unitize(width, 200);
            .unitize(padding-top, 5);
        }
        .submitButton {
            background: #363636;
            color: #fff;
        }
    }
    .bannerEmotion {
        .unitize(margin-top, 55) !important;
        .unitize(margin-bottom, 20)!important;
    }


}

.content--emotions {
    .panel.has--border {
        margin-left: 0;
    }
}

//.landingpageFirstPage{
//    .unitize(padding-top,);
//}



