.forms--headline,
.forms--container {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    border-radius: 0;
}
textarea,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="tel"] {
    border-radius: 0;
}