.newsletter--headline,
.newsletter--form {
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    border-radius: 0;
}

.footer--columns {
    .newsletter--form {
        box-shadow: none;
        border-radius: 0;
    }
}

.newsletter--content {
    .newsletter--headline {
        background: #fff;
    }
}

.headlineNewsletter{
    display: none;
}