.register--advantages {
    background: rgba(255,255,255,1.0);
    .unitize(margin-top, 30);
    .unitize-padding(10, 20, 10, 20);
    .panel--title {
        .unitize(padding-top, 0);
    }
}

.account--address {
    .address--content {
        .unitize(margin-top, 20);
    }
}

.panel--title.is--underline{
    border-bottom: none;
}