@media screen and (min-width: @desktopViewportWidth) {
    .search--content {
        .unitize-padding(45, 0, 45, 0);
    }
}

.content--wrapper {
    h1.search--headline {
        background: #fff;
        .unitize(padding, 10);
        margin-left: 1%;
        margin-right: 1%;
        .unitize(margin-bottom, 20);
    }
}

.sort--select {
    .sort--field {
        margin-left: 1%;
        margin-right: 1%;
    }
}

.action--filter-btn {
    margin-left: 1%;
    margin-right: 1%;
}


