.shop-sites--container {
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    border-radius: 0;
}

.sidebar-main.off-canvas {
    z-index: 25000000;
}

.sidebar--categories-wrapper {
    background: #fff;
}

.sidebar--navigation {
    background: none;
}

.mobile--switches{
    display: none;
}

