@media screen and (min-width: @desktopViewportWidth) {
    .content-main {
        margin-top: 0;
        margin-bottom: 0;
    }

    .shop-sites--container {
        margin-top: 0;
    }

    .shop--navigation {
        .entry--search {
            width: 50%;
        }
    }

    /** Header**/
    .header-main {
        .top-bar,
        .top-bar-container {
            .information--topbar-wrapper {
                li {
                    width: 33%;
                    //.unitize-margin(3, 30, 0, 0);
                    //&:last-child {
                    //    .unitize-margin(3, 0, 0, 0);
                    //}
                    span {
                        .unitize(font-size, 14);
                    }
                }

            }
        }
        .top-bar--navigation {
            .navigation--entry {
                .unitize-padding(0, 0, 0, 15);
                .unitize(font-size, 14);
            }
            .compare--list {
                &:after {
                    .unitize(left, 36);
                }
            }
            .service--list {
                &:after {
                    .unitize(left, 53);
                }
            }
        }
    }

    /***Listing*/
    .containerListingWrapper {
        .listing--wrapper {
            display: none !important;
            .action--filter-btn {
                margin-left: 0 !important;
            }
        }

    }

    .action--sort {
        margin-right: 1%;
        .sort--label {
            background: #fff;
            .unitize-padding(0, 15, 0, 15);
        }
    }

    .listing--content {
        .containerListingBox {
            .unitize(margin-left, 30);
        }
        .product--box {
            .box--content {
                .unitize-padding(20);
                .product--description {
                    .unitize(padding-right, 15);
                }
            }
            .product--actions {
                .unitize(padding-bottom, 15);
            }
        }
    }

    /**Detail**/

    .detailWrapper {
        min-height: 480px; 
    }
    .wrapperImageDetailDesktop {
        display: block;
        float: left;
        .unitize(width, 230);
        .unitize(height, 310);
        .imageDetailDesktop {
            margin: 0 auto;
            .unitize(padding-top, 10);
        }
    }
    .image-slider--thumbnails,
    .image-slider--thumbnails-slide,
    .image-slider--dots{
        display: block;
    }
    .wrapperImage {
        display: none;
    }

    .detailWrapper {
        .imageDetail {
            display: none;
        }

        .productVariant {
            width: 33%;
            margin-top: 0;
            display: inline-block;
            padding: 0;
            float: none;

        }

        .productBuy {
            width: 33%;
            display: inline-block;
            padding: 0;
            float: right;
        }
        .infoDetail {
            .unitize-padding(0, 10, 15, 10);
            .js--tab-menu {
                .unitize(margin-top, 50);
            }
        }
        .wrapperDetailInfo {
            width: 33%;
            display: inline-block;
        }
    }

    /**Footer**/
    .footer-main {

        .serviceMenu {
            margin-left: 33%;
        }

        .footer--column {
            width: 25%;
        }
    }

    .footer--columns {
        .newsletter--form {
            margin-left: 20%;
            margin-right: 20%;
        }
    }

    .footer--column.column--newsletter {
        width: 100%;
    }

    /**Checkout**/
    .is--act-finish {
        .content-main {
            margin: 0;
        }
    }

    /**Emotion**/
    .emotion--wrapper {
        .textboxEmotion {
            .emotion--html {
                .unitize(height, 600)
            }
        }
    }
    .newsletter--content,
    .custom-page--content,
    .forms--content{
        margin-top:0;
    }
    .sidebar-main{
        padding-top: 0;
    }

}
