@media screen and (min-width: @tabletLandscapeViewportWidth) {

    /*Navigation*/
    .navigation--list {
        .entry--account {
            .icon--account {
                top: 0;
                .unitize(left, 16);
            }
        }
    }

    .navigation--list {
        .entry--cart {
            .icon--basket {
                top: 0;
            }
        }
    }

    /**Listing**/
    .containerListingWrapper {
        justify-content: space-between;

    }

    .containerListingBox {
        .unitize(margin-right, 0);
    }

    .listing {
        .product--box {
            .box--content {
                .product--info {
                    .unitize-padding(0, 0, 0, 190);
                }
            }
        }
    }

    /*Detail*/
    .detailWrapper {
        min-height: 420px;
    }

    .wrapperProductInfo {
        width: 72%;
        float: right;
        margin-top: 0;
        .wrapperDetailInfo {
            float: left;
        }
        .productBuy {
            width: 40%;
        }
    }

    .headlineDetailSM {
        display: none;
    }

    .headlineDetail {
        display: block;
    }

    .image-slider--thumbnails,
    .image-slider--thumbnails-slide,
    .image-slider--dots {
        display: none;
    }

    .coe-product--detail-upper-image {
        width: 25%;
        float: left;
        .unitize-padding(10);
    }

    /**Checkout**/
    .steps--container {
        .unitize(padding-left, 40);
    }

    .is--act-finish {
        .content-main {
            margin: 0;
        }
    }

    .emotion--wrapper {
        .textboxEmotion {
            .emotion--html {
                .unitize(height, 680)
            }
        }

    }

    .shop--navigation {
        .navigation--entry {
            margin-right: 0;
        }
    }

    .image-slider--container {
        margin-bottom: 0;
    }

    .shop--navigation {
        .navigation--entry {

            .icon--heart {
                .unitize(right, 166);
            }
        }
    }

}