@media screen and (min-width: @tabletViewportWidth) {

    .content-main {
        box-shadow: none;
    }

    /*Header*/
    .header-main {
        .header--navigation,
        .top-bar {
            .unitize(padding-left, 70);
            .unitize(padding-right, 70);
        }
        .header--navigation {
            .unitize(padding-top, 15);
        }
        .topbarService {
            text-align: center;
        }
        .topbarVersand {
            white-space: nowrap;
        }
    }

    .navigation-main {
        .unitize(padding-left, 70);
        .unitize(padding-right, 70);
        border: none;
        .is--active .navigation--link {
            .primary-gradient();
            font-weight: @font-bold-weight;
            color: @text-color;
            background: none;

            &:hover {
                color: @text-color;
            }
        }
        .navigation--list-wrapper {
            text-align: center;
            .unitize(margin-bottom, 10);
        }

    }

    .top-bar2 {
        .top-bar--navigation {
            .navigation--entry.entry--service {
                display: inline-block;
            }
        }
    }

    /*Listing*/
    .listing--actions {
        border-radius: 0;
        background: none;
        border: none;
        margin-bottom: 0;
    }

    .listing {
        .product--box {
            padding-left: 1%;
            padding-right: 1%;
            .box--content {
                .product--info {
                    .unitize-padding(10);
                }
            }
        }
    }

    .action--sort {
        .unitize-margin(0);
        MARGIN-right: 1%;

    }

    .action--filter-btn {
        margin: 0;
        margin-left: 1%;
        margin-right: 1%;

    }

    /*Detail */
    .coe-product--detail-upper-image {
        margin-top: 0;
    }

    .buybox--quantity {
        width: 33%;

    }

    .buybox--button {
        width: 65%;
    }

    .buybox--quantity,
    .buybox--button {
        margin: 0;
    }

    .detailWrapper {
        min-height: 650px;
        .wrapperDetailInfo {
            display: inline-block;
            width: 30%;
            float: left;
        }
        .productVariant {
            display: inline-block;
            width: 28%;
            float: none;
        }
        .productBuy {
            float: right;
            width: 40%;
            display: inline-block;

        }
        .buybox--button {
            margin-left: 1%;
        }

    }

    /*Footer*/
    .footer-main {
        .unitize(padding-left, 70);
        .unitize(padding-right, 70);
        border: none;
        .footer--column {
            width: 33%;
        }
        .serviceMenu {
            margin-left: 25%;
        }
    }

    .footer--copyright {
        .unitize(margin-bottom, 20);
    }

    .footer--column.column--newsletter {
        width: 100%;

        .newsletter--button,
        .newsletter--field {
            width: 48%;

        }

        .column--content {
            text-align: center;
        }

        .column--desc {
            .unitize(margin-top, 20);
        }
    }

    .column--newsletter {
        .imageNewsletter {
            display: block;
            margin: 0 auto !important;
            fill: @brand-primary;
            .unitize-width(80);
        }

        .headlineNewsletter {
            display: none;
        }
    }

    /**Checkout**/
    .steps--container {
        .unitize(padding-left, 35);
    }

    .is--act-finish {
        .content-main {
            margin: 0;
        }
    }

    .product--table {
        .basket--footer {
            margin: 0;
            background: #fff;
        }
        .add-product--form {
            .unitize(padding, 10);
        }
        .panel.has--border {
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
            background: #fff;
        }
        .panel--body {
            .unitize(padding, 10);
        }

    }

    /*Blog*/
    .blog--content {
        .blog--navigation {
            .blog--sidebar-title {
                background: #fff;
                .unitize-padding(10);
                margin: 0;
            }
        }
    }

    .note--overview {
        background: #fff;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
        .note--item {
            background: none;
            BOx-shadow: none;
        }
    }

    .account--content {
        .note--item {
            background: none;
            margin-bottom: 0;
            box-shadow: none;
            .unitize-padding(30, 20, 20, 0);
        }
        .note--delete {
            margin: 0;
        }
    }

    .last-seen-products {
        margin-right: 1%;
        margin-left: 1%;
    }

    .newsletter--content,
    .custom-page--content,
    .forms--content {
        margin-top: 0;
    }

    .is--ctl-custom {
        .sidebar-main {
            padding-top: 0;
            .content--wrapper {
                .unitize(margin-left, 250) !important;
            }
        }
    }

}