@media screen and (min-width: @phoneLandscapeViewportWidth) {

    /**Detail**/
    .js--tab-menu {
        margin-top: 0;
    }

    .tab-menu--product {
        margin-bottom: 0;
    }

    .descriptionDetail {
        background: none;
        margin-top: 0;
    }

    .detailPositions {
        padding-right: 15%;
    }

    .detailWrapper {
        .productVariant {
            .unitize(margin-bottom, 40);
            width: 48%;
            float: left;
        }
        .productBuy {
            width: 48%;
            margin: 0;
        }
        .wrapperDetailInfo {
            width: 48%;
            .unitize(padding-top, 20);
            float: left;
        }
    }

    .listing {
        .product--box {
            .box--content {
                .product--info {
                    .unitize-padding(0, 0, 0, 180);
                }
            }
        }
    }

    .visbilityNone {
        visibility: hidden;
        margin: 0;
    }

    /**Checkout**/
    .is--act-finish {
        .content-main {
            margin: 0;
        }
    }

    .shop--navigation {
        .navigation--entry {
            .icon--search {
                position: initial;
            }
        }
    }

    .tab--container-list {
        box-shadow: none;
    }

}
