@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/rubik-v7-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Rubik'), local('Rubik-Regular'),
    url('../../fonts/rubik-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../fonts/rubik-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../../fonts/rubik-v7-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../../fonts/rubik-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../../fonts/rubik-v7-latin-regular.svg#Rubik') format('svg'); /* Legacy iOS */
}

/* karma-regular - latin */
@font-face {
    font-family: 'Karma';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/karma-v7-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Karma Regular'), local('Karma-Regular'),
    url('../../fonts/karma-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../fonts/karma-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../../fonts/karma-v7-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../../fonts/karma-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../../fonts/karma-v7-latin-regular.svg#Karma') format('svg'); /* Legacy iOS */
}

/* custom Icons*/

//@font-face {
//    font-family: 'coe-fontello';
//    src: url('../../fonts/coe--fonts/coe-fontello.eot?27275229');
//    src: url('../../fonts/coe--fonts/coe-fontello.eot?27275229#iefix') format('embedded-opentype'),
//    url('../../fonts/coe--fonts/coe-fontello.woff2?27275229') format('woff2'),
//    url('../../fonts/coe--fonts/coe-fontello.woff?27275229') format('woff'),
//    url('../../fonts/coe--fonts/coe-fontello.ttf?27275229') format('truetype'),
//    url('../../fonts/coe--fonts/coe-fontello.svg?27275229#fontello') format('svg');
//
//    font-weight: normal;
//    font-style: fonts/ normal;
//}
//
//.icon--heart:before {
//    font-family: 'coe-fontello';
//    content: '\e804';
//}
//
//.icon--account:before {
//    font-family: 'coe-fontello';
//    content: '\e802';
//}
//
//.icon--basket:before {
//    font-family: 'coe-fontello';
//    content: '\e803';
//}
//
//.icon--search:before {
//    font-family: 'coe-fontello';
//    content: '\e800';
//}

@font-face {
    font-family: 'coe--fontello2';
    src: url('../../fonts/coe--fonts2/coe-second.eot?4847486');
    src: url('../../fonts/coe--fonts2/coe-second.eot?4847486#iefix') format('embedded-opentype'),
    url('../../fonts/coe--fonts2/coe-second.woff2?4847486') format('woff2'),
    url('../../fonts/coe--fonts2/coe-second.woff?4847486') format('woff'),
    url('../../fonts/coe--fonts2/coe-second.ttf?4847486') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icon--search:before {
    font-family: 'coe--fontello2';
    content: '\e801';
}

.icon--basket:before {
    font-family: 'coe--fontello2';
    content: '\e805';
}

.icon--heart:before {
    font-family: 'coe--fontello2';
    content: '\e806';
}

.icon--account:before {
    font-family: 'coe--fontello2';
    content: '\e807';
}

@font-face {
    font-family: 'coe--fontello3';
    src: url('../../fonts/coe--fonts3/coe--third.eot?29235710');
    src: url('../../fonts/coe--fonts3/coe--third.eot?29235710#iefix') format('embedded-opentype'),
    url('../../fonts/coe--fonts3/coe--third.woff2?29235710') format('woff2'),
    url('../../fonts/coe--fonts3/coe--third.woff?29235710') format('woff'),
    url('../../fonts/coe--fonts3/coe--third.ttf?29235710') format('truetype'),
    url('../../fonts/coe--fonts3/coe--third.svg?29235710#coe--third') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon--heart:before {
    content: '\e800';
    font-family: 'coe--fontello3';
}

/* '' */
.icon--basket:before {
    content: '\e801';
    font-family: 'coe--fontello3';
}

/* '' */
.icon--account:before {
    content: '\e802';
    font-family: 'coe--fontello3';
}

/* '' */
.icon--search:before {
    content: '\e803';
    font-family: 'coe--fontello3';
}

/* '' */