.is--ctl-detail {
    .content-main--inner {
        background-image: url("../../img/logos/backgroundBeton4.jpg");
    }
}

.wrapperImageDetailDesktop {
    display: none;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}

.wrapperProductInfo {
    h2 {
        margin-top: 0;
    }
}

.detailWrapper {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    background: #fffc;
    min-height: 610px;

    .detailInnerContainer,
    .wrapperImageDetail {
        display: inline-block;
        background: rgba(255, 255, 255, 0.8);
    }

    .buybox--quantity,
    .buybox--button {
        border-radius: 0;
        .unitize(margin-bottom, 10);
    }
    .select-field select,
    .js--fancy-select select {
        border-radius: 0;
    }
}

.detailPositions {
    float: left;
}

.content--product-reviews {
    .unitize-padding(20);
}

.content--description {
    .unitize-padding(20);
}

.product--properties {
    .unitize(margin-bottom, 20);
}

.tab--content {
    z-index: 1000000;
}

.js--tab-menu {
    .unitize(margin-top, 20);
    .tab--navigation {
        a.tab--link {
            color: #fff;
            border-radius: 0;
            border: none;
            background: #363636;
            .unitize-margin(30, 0, 0, 60);
        }
    }
    .product--rating-count {
        background: #363636;
    }
}

.descriptionDetail {
    .content--list.list--unstyled {
        .unitize(margin-top, 10);
    }
}

.js--off-canvas-button {
    .tab--preview {
        color: #fff;

    }
}

.js--off-canvas-button {
    margin-bottom: 0;
    .tab--header {
        .tab--title {
            color: #fff;
        }
    }
}

.tab--container {
    border: none;
}

.tab--container-list {
    background-image: url("../../img/woodTexture11.jpg");
}

.detailPositions,
.detailValue {
    display: inline-block;

}

.detailPositions {
    padding-right: 30%;
}
.headlineDetail,
.headlineDetailSM {
    .unitize-padding(20, 0, 0, 0);
    text-align: center;
}

.headlineDetail{
    display:none;
}

.wrapperDetailInfo {
    .unitize-padding(10, 15, 0, 15);
}

.infoDetail {
    overflow: hidden;
    .product--actions {
        .unitize(padding-top, 10);
    }
}

.wrapperProductInfo {
    .unitize(margin-top, 20);
}

.productBuy {
    .unitize-margin(20, 0, 20, 0);
}

.productVariant,
.productBuy {
    .unitize-padding(0, 15, 10, 15);
    .articelPrice {
        text-align: center;
        .unitize-margin(0, 10, 10, 10);
        .unitize(padding-top, 10);

        .buybox--button,
        .quantity--select {
            border-radius: 0;
        }
        .select-field:after,
        .js--fancy-select:after {
            border-left: none;
        }

    }
    .product--configurator {
        .select-field {
            max-width: 100%;
            border-radius: 0;
        }
    }

    form.action--form {
        display: inline-block !important;

    }
    .action--link.link--notepad,
    .action--link.action--compare {
        border: none;
        background: none;
    }

    .action--link.link--publish-comment {
        display: none;
    }
}

.descriptionDetail {
    clear: both;
    background: rgba(255, 255, 255, 0.8);
    .unitize(margin-top, 20);
    .content--product-reviews,
    .content--description {
        background-image: url("../../img/woodTexture10.jpg");
    }

    .product--properties-table {
        width: 100%;
    }

    .list--entry {
        .unitize(padding-top, 5);
        .link--contact,
        .link--supplier {
            color: #fff;
        }
    }
    .content--title,
    .product--description,
    .review--form-container {
        background: #fff;
        .unitize(padding-left, 20);
        .unitize(padding-right, 20);

    }
    .content--title {
        .unitize(padding-top, 10);
        .unitize(padding-bottom, 10);
    }
    .panel.has--border {
        margin-left: 0;
    }
}

.is--ctl-detail {
    .panel.has--border {
        margin-left: 0;
    }
}

.coe-product--detail-upper-image {
    .unitize(margin-top, 20);
    .unitize-padding(10);
}

.tabletImage {
    display: none;
}

.tab--container-list {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}

.last-seen-products {
    .unitize(margin-top, 20);
}

