.containerListingWrapper {
    text-align: center;
    .unitize(padding-bottom, 80);
}

.containerListingBox {
    .unitize(margin-left, 20);
    .unitize(margin-right, 20);
    display: inline-block;
    .unitize(margin-bottom, 25);
    max-width: 300px;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    .backgroundPicture {
        background: white;

    }
    .wrapperListingPicture {
        margin: 10px;
        position: relative;
        //&::after {
        //    display: block;
        //    position: absolute;
        //    top: 0;
        //    left: 0;
        //    right: 0;
        //    bottom: 0;
        //    content: '';
        //    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5) inset;
        //}
    }
    .listingPicture {
        background-size: cover;
        background-repeat: no-repeat;
        .unitize(height, 240);
        .unitize(width, 220);
        background-position: center;

    }

}

.subCategorieName,
.descriptionListingBox {
    .unitize(height, 35);
    background: #FFFFFF;
    text-align: center;

}

.subCategorieName {
    .unitize-padding(10, 10, 40, 10);
    .unitize(font-size, 16);
    font-weight: bold;
}

.listing {
    margin: 0;
    padding: 0;

    .product--box {
        .box--content {
            background-image: url("../../img/woodTexture11.jpg");
            border-radius: 0;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
            border: none;
            .product--info {
                background: #fff;
                .unitize-padding(10);
                box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
            }
        }
    }
}

.is--ctl-listing.is--act-index.is--no-sidebar {
    .content--wrapper {
        .unitize(padding-bottom, 10);
    }
}

.listing--content {
    .topseller {
        .unitize-margin(0, 0, 10, 0);

    }
    .last-seen-products,
    .topseller {
        margin-left: 1%;
        margin-right: 1%;
    }
}

.action--sort {
    .sort--label {
        border: 1px solid #dadae5;
    }
}

